*{
  text-align: center;
  color: crimson;
}

#results {
  width: max-content;
  margin: auto;
  font-size: 30px;
}

#submit {
  margin-left: 20px;
}

#map {
  border: solid;
}

#bg {
  background-image:url(./images/city.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  z-index: -1;
}
